.hero{
  position: relative;
}

.banner-img{
  width: 100%;
  mask-image: linear-gradient(to right, transparent,black 75%);
  -webkit-mask-image- :linear-gradient(to right, transparent,black 75%);

}

.hero-caption{
  bottom: 0;
  position: absolute;
  width: 100%;
  padding-left: 6%;
}

.caption-img{
  width: 90%;
  max-width: 420px;
  margin-bottom: 30px;
}

.hero-caption p{
  margin-bottom: 20px;
  max-width: 720px;
  font-size: 17px;
} 

.hero-btns{
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}

.hero-btns .btn img{
  width: 25px;
}

.hero-btns .btn{
  border: 0;
  outline: 0;
  padding: 8px 20px ;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
background: white;
border-radius: 4px;
cursor: pointer;
}

.hero-btns .btn.dark-btn{
background: #6d6d6eb3;
color: #fff;
}

.hero-btns .btn:hover{
  background: #ffffffbf;

}
.hero-btns .btn.dark-btn:hover{
  background: #6d6d6e66;

}

.more-card{
  padding-left: 6%;
}


@media (max-width:1024px) {
  .hero-caption .title-card{
    display: none;
  }
  .hero-btns{
    margin-bottom: 30px;
  }
}


@media (max-width:800px) {
  .hero-caption {
padding: 4%;
  }
  .hero-btns{
    margin-bottom: 30px;
  }

  .caption-img{
    width: 40%;
    margin-bottom: 10px;
  }

  .hero-caption p{
    margin-bottom: 10px;
    font-size: 12px;
  }
  .hero-btns img{
    width: 20px;
  }

  .more-card{
    padding-left: 4%;
  }
}

@media (max-width:500px){
.btn{
  padding: 4px 10px;
  font-size: 10px;
  gap: 5px;

}
 .btn img{
  width: 15px;
}

.caption-img{
  display: none;
}
}
